<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Soical</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

  <h1>MY Social</h1>
  <% for(post of posts){ %>

    <div class="post">
      <h3 class="user">@<%= post.username %></h3>
      <h4 class="content"><%= post.content %></h4>
      <br>
      <a href="http://localhost:3000/posts/<%=post.id%>">See in Detail</a>
      <a href="http://localhost:3000/posts/<%=post.id%>/edit">Edit Post</a>
      
      <form  method="post" action="/posts/<%=post.id%>?_method=DELETE">
          <button>Delete</button>
      </form>
    </div>

  <%}%>

  <br>
  <br>
  <a href="http://localhost:3000/posts/new">Create New Post</a>
  <a href="https://github.com/Shaktisinh0044" target="_blank"><i class="fa-brands fa-square-github"></i></a>

  
</body>
</html>